<section id="footer">
    <p><a href="#">Génération trésor</a> by <a href="https://www.legrog.org/utilisateurs/lordjerrel">Lordjerrel</a> and <a>Kimasoft</a></p>
    <!-- <p>
        Dungeons &amp Dragons et Wizards of the Coast &#153 Wizards of the Coast.<br>
        Dungeons &amp Dragons est publié en France sous license par ASMODEE &reg<br> 
        Donjons &amp Dragons, d20 system et tous les noms s'y rapportant sont des marques déposées de Wizards of the Coast&#153.
    </p> -->
</section>
</div>
</body>
<!-- @link https://getbootstrap.com/docs/4.1/getting-started/introduction/ -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>