<!-- <?php session_start(); ?> -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site permettant de générer des trésors, de générer des objes magiques relatif à Donjon et Dragon 3.5 et applicable à tout univers médiéval fantastique" />
    <meta name="title" content="Génération de trésors, objets magiques, auberges, scénari,... " />
    <title>Génération pour Jeux De Rôle</title>
    <!--  @link https://getbootstrap.com/docs/4.1/getting-started/introduction/ 
      @link https://fontawesome.com/start -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="View/style/style.css" media="screen" />
    <link rel="icon" type="image/png" href="/images/coffre.png" />
</head>

<body>

    <div id="wrap">

        <section id="header">
            <h1>Générateur pour rôlistes</h1>
            <h2>En deux clics, générez beaucoup</h2>
        </section>

        <section id="right">
            <div class="articles">