<div id="right">
<div class="articles">
<h2>Liens vers des générateurs :</h2>
<a target="_BLANK" title="https://chartopia.d12dev.com/" href="https://chartopia.d12dev.com/"> Chartopia</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Une bonne grosse banque de générateurs en tout genre.<br /><br /> 
<a target="_BLANK" title="https://chartopia.d12dev.com/en/collection/200/" href="https://chartopia.d12dev.com/en/collection/200/"> Oracles Ironsworn</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Les Oracles d\'Ironsworn sur chartopia (toujours utile).<br /><br />
<a target="_BLANK" title="https://ironarachne.com/" href="https://ironarachne.com/"> Ironarachne</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Plusieurs générateurs aussi intéressants qu\'originaux.<br /><br />
<a target="_BLANK" title="http://chaoticshiny.com/index.php" href="http://chaoticshiny.com/index.php"> Chaotic Shiny</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Une source diversifiée de générateurs avec une variété de styles différents.<br /><br />
<a target="_BLANK" title="https://www.seventhsanctum.com/index.php" href="https://www.seventhsanctum.com/index.php"> Seventh Sanctum</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Site proposant un vaste choix de générateurs.<br /><br />
<a target="_BLANK" title="http://donjon.bin.sh/" href="http://donjon.bin.sh/"> Donjon</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Un autre site proposant de nombreux choix de générateurs.<br /><br />
<a target="_BLANK" title="https://autorolltables.github.io/index.html" href="https://autorolltables.github.io/index.html"> Auto Roll Tables</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Encore un autre site proposant de nombreux générateurs.<br /><br />
<a target="_BLANK" title="https://rollforfantasy.com/" href="https://rollforfantasy.com/"> Roll for Fantasy</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur complet et bien d\'autres choses.<br /><br />
<a target="_BLANK" title="http://dndspeak.com/" href="http://dndspeak.com/"> DnDSpeak</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Site proposant des listes d100 plutôt inspirant.<br /><br />
<a target="_BLANK" title="https://www.rangen.co.uk/" href="https://www.rangen.co.uk/"> RanGen</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Des générateurs plutôt atypiques et intéressants, mais le site est surchargé de publicité.<br /><br />
<a target="_BLANK" title="https://www.darkestofnights.com/gens.php" href="https://www.darkestofnights.com/gens.php"> Darkest of Nights</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Quelques générateurs plutôt intéressants sont disponibles sur ce site. <br /><br />
<a target="_BLANK" title="http://www.d20srd.org/fantasy/world/" href="http://www.d20srd.org/fantasy/world/"> Fantasy World Generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Un générateur de planisphères.<br /><br />
<a target="_BLANK" title="https://azgaar.github.io/Fantasy-Map-Generator/" href="https://azgaar.github.io/Fantasy-Map-Generator/"> Azgaar\'s Fantasy Map Generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Un générateur de cartes.<br /><br />
<a target="_BLANK" title="https://watabou.itch.io/perilous-shores" href="https://watabou.itch.io/perilous-shores"> Perilous Shores</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Un générateur de cartes d\'îles.<br /><br />
<a target="_BLANK" title="https://watabou.itch.io/medieval-fantasy-city-generator" href="https://watabou.itch.io/medieval-fantasy-city-generator"> Medieval Fantasy City Generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de plans d\'agglomérations médievales.<br /><br />
<a target="_BLANK" title="http://inkwellideas.com/free-tools/random-city-map-generator/" href="http://inkwellideas.com/free-tools/random-city-map-generator/"> Random City Map Generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Un autre générateur de plans de cités médievales.<br /><br />
<a target="_BLANK" title="https://watabou.itch.io/village-generator" href="https://watabou.itch.io/village-generator"> Village Generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de villages médievaux.<br /><br />
<a target="_BLANK" title="https://watabou.itch.io/fantasy-manor" href="https://watabou.itch.io/fantasy-manor"> Fantasy Manor</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de maisons  médievales.<br /><br />
<a target="_BLANK" title="http://www.d20srd.org/fantasy/inn/" href="http://www.d20srd.org/fantasy/inn/"> Inn</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur d\'auberge.<br /><br />
<a target="_BLANK" title="http://inkwellideas.com/free-tools/random-inn-generator-floorplan/" href="http://inkwellideas.com/free-tools/random-inn-generator-floorplan/"> Random Inn Generator – Floorplan</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de plan d\'auberge.<br /><br />
<a target="_BLANK" title="http://inkwellideas.com/free-tools/rumor-generator/" href="http://inkwellideas.com/free-tools/rumor-generator/"> Rumor Generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de rumeurs.<br /><br />
<a target="_BLANK" title="https://probabletrain.itch.io/city-generator" href="https://probabletrain.itch.io/city-generator"> City Generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de villes de type américain.<br /><br />
<a target="_BLANK" title="https://davesmapper.com/" href="https://davesmapper.com/"> Dave\'s Mapper</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de cartes de donjons, cités, vaiseaux spaciaux ...<br /><br />
<a target="_BLANK" title="https://watabou.itch.io/one-page-dungeon" href="https://watabou.itch.io/one-page-dungeon"> One Page Dungeon</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de Donjons.<br /><br />
<a target="_BLANK" title="https://dungen.app/dungen/" href="https://dungen.app/dungen/"> DunGen</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de carte de donjon haute résolution prête à être utilisés dans vos tables virtuelles.<br /><br />
<a target="_BLANK" title="https://www.fr.fantasynamegenerators.com/" href="https://www.fr.fantasynamegenerators.com/"> Fantasy Name Generators</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Site proposant de nombreux générateurs de noms.<br /><br />
<a target="_BLANK" title="https://lapageamelkor.org/generateurs" href="https://lapageamelkor.org/generateurs"> La Page à Melkor</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> La Page à Melkor se veut un lieu de rendez-vous pour les amateurs d’activité de simulation. Mais on y trouve aussi une banque de générateur de nom assez complète.<br /><br />
<a target="_BLANK" title="https://www.behindthename.com/random/" href="https://www.behindthename.com/random/"> Behind the Name</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de noms assez complet proposant aussi de générer une histoire de vie.<br /><br />
<a target="_BLANK" title="https://www.namegeneratorfun.com/" href="https://www.namegeneratorfun.com/"> Name Generator Fun</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de nom complet et original, mais à l\'organisation confuse.<br /><br />
<a target="_BLANK" title="https://www.aidedd.org/dnd-gen/index.php" href="https://www.aidedd.org/dnd-gen/index.php"> Name Generator » Dungeons & Dragons</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Générateur de noms pour D&D.<br /><br />
<a target="_BLANK" title="https://www.thispersondoesnotexist.com/" href="https://www.thispersondoesnotexist.com/"> This Person Does Not Exist</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de photos de personnes qui n\'existent pas.<br /><br />
<a target="_BLANK" title="http://www.legentilbarbu.ovh/grimace/" href="http://www.legentilbarbu.ovh/grimace/"> NPC pics random generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Un générateur aléatoire de portrait basé sur l\'outil de Volsung, téléchargaeble sur <a target="_BLANK" style="text-decoration:none" href="http://2d6pluscool.ovh/index.php/2016/04/13/grimace-un-trombinoscope-pour-vos-parties-de-jdr/">2d6PlusCool</a><br /><br />
<a target="_BLANK" title="https://fr.fakenamegenerator.com/gen-random-fr-fr.php" href="https://fr.fakenamegenerator.com/gen-random-fr-fr.php"> Fake Name Generator</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Générateur d\'identités comtemporaines plutôt complet.<br /><br />
<a target="_BLANK" title="http://ideagenerator.creativitygames.net/" href="http://ideagenerator.creativitygames.net/"> Creative Idea Generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur de mots et d\'images aléatoires. Une source d\'inspiration simple.<br /><br />
<a target="_BLANK" title="http://legentilbarbu.ovh/rnd.php" href="http://legentilbarbu.ovh/rnd.php"> Random RPG Generator for Cool Kids!</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur d\'images d\'aide à l\'improvisation.<br /><br />
<a target="_BLANK" title="https://tangent-zero.com/zero_dice/zero_dice.htm" href="https://tangent-zero.com/zero_dice/zero_dice.htm"> Tangent Zero - Zero Dice</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur d\'images pour aider à l\'improvisation, mais génère aussi des cartes, des runes ...<br /><br />
<a target="_BLANK" title="http://darmont.free.fr/vrac/rf-langue-beton.php" href="http://darmont.free.fr/vrac/rf-langue-beton.php"> Rétrofutur - Générateur de langue de béton</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Générateur de discours politiques.<br /><br />
<a target="_BLANK" title="https://speedroling.fr/generer-un-scenario/" href="https://speedroling.fr/generer-un-scenario/"> Générateur de scénario de jeu de rôles</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Générateur de scénarios.<br /><br />
<a target="_BLANK" title="http://www.d20srd.org/fantasy/adventure/" href="http://www.d20srd.org/fantasy/adventure/"> Random Adventure Generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Générateur d\'aventure aléatoire.<br /><br />
<a target="_BLANK" title="https://watabou.itch.io/tank-doodles" href="https://watabou.itch.io/tank-doodles"> Tank Doodles</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Juste parce que c\'est insolite, voici un générateur de chars.<br /><br />
<br />
<h2>Liens intéressants :</h2>
<a target="_BLANK" title="http://lefix.di6dent.fr/" href="http://lefix.di6dent.fr/"> Le Fix</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Site d\'informations sur l\'actualité rôliste.<br /><br />
<a target="_BLANK" title="http://www.legrog.org/" href="http://www.legrog.org/"> Le Grog</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Le Guide du Roliste Galactique, actualités et encyclopédie des jeux de roles.<br /><br />
<a target="_BLANK" title="https://scriiipt.com/" href="https://scriiipt.com/"> Scriiipt.com</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Site d\'infos sur le jeu de rôle, le fantastique, actualité ludiques, liens de jdr, des inspirations, background et aides de jeu.<br /><br />
<a target="_BLANK" title="https://portes-imaginaire.org/" href="https://portes-imaginaire.org/"> Aux Portes de l\'Imaginaire</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Il s\'agit association d\'auteurs et d\'amateurs de jeux et de culture de l\'imaginaire. Ils proposent, entre autres, pas mal d\'articles très intéressants.<br /><br />
<a target="_BLANK" title="https://ptgptb.fr/" href="https://ptgptb.fr/"> PTGPTB.fr</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Le meilleur du web rôliste mondial, traduit pour vous.<br /><br />
<a target="_BLANK" title="https://www.leroliste.com/blog/" href="https://www.leroliste.com/blog/"> Le Rôliste</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Un site récent à vocation commerciale, mais au-delà de l\'aspect boutique, ils ont déjà publié quelques articles très intéressants, et qui valent le coup d\'y faire un tour.<br /><br />
<a target="_BLANK" title="https://www.scenariotheque.org/" href="https://www.scenariotheque.org/"> La Scénariothèque</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Bibliothèque de scénarios et d\'aides de jeux.<br /><br />
<a target="_BLANK" title="https://www.rolis.net/" href="https://www.rolis.net/"> Rolis</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Bibliothèque de scénarios multi-jeux et de jeux de rôle sous licence libre et gratuits.<br /><br />
<a target="_BLANK" title="https://www.forthedrama.com/" href="https://www.forthedrama.com/"> For The Drama</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Une plateforme pour jouer gratuitement en ligne aux jeux de rôle dérivés de For The Queen, rapides, funs et forts en drama !<br /><br />
<a target="_BLANK" title="https://kanka.io/fr" href="https://kanka.io/fr"> Kanka</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Gestionnaire en ligne de campagne de jeu de rôle et outil de création de monde.<br /><br />
Argosia : en <a target="_BLANK" title="http://legrumph.org/Chibi/Patreon/Argosia.pdf" href="http://legrumph.org/Chibi/Patreon/Argosia.pdf">PDF</a> et sa <a target="_BLANK" title="https://www.youtube.com/watch?v=jxX9g51Q-jA&t=20s" href="https://www.youtube.com/watch?v=jxX9g51Q-jA&t=20s">vidéo</a><br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Argosia est un univers med-fan générique, quelques minutes de présentation vidéo et les joueuses sauront tout ce qu\'il y a à savoir pour lancer leurs personnages à l\'aventure, et c\'est signé le Grümph en plus.<br /><br />
<a target="_BLANK" title="http://abw.blue/index.php" href="http://abw.blue/index.php"> Un monde meilleur</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Site proposant de changer des événements historiques pour créer des Uchronies.<br /><br />
<a target="_BLANK" title="http://yeray.com/generadorcartas/" href="http://yeray.com/generadorcartas/"> Generador de cartas antiguas</a> : <br />
<img src="View/images/flag-spa.png" title="Site en Espagnol" width="15" height="15"> Créateur de lettres anciennes.<br /><br />
<a target="_BLANK" title="https://www.fodey.com/generators/newspaper/snippet.asp" href="https://www.fodey.com/generators/newspaper/snippet.asp"> The Newspaper Clipping Generator</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Créateur de coupures de journaux.<br /><br />
<a target="_BLANK" title="https://www.artbreeder.com/browse" href="https://www.artbreeder.com/browse"> Artbreeder</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Banque d\'images issues d\'un mélange avec d\'autres images.<br /><br />
<a target="_BLANK" title="https://newtbb.netlify.app/" href="https://newtbb.netlify.app/"> Blueprint Builder</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Site permettant la création de carte de type blueprint.<br /><br />
<a target="_BLANK" title="https://probabletrain.itch.io/dungeon-scrawl" href="https://probabletrain.itch.io/dungeon-scrawl"> Dungeon Scrawl</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Un outil de cartographie simple et efficace pour vous aider à préparer vos plans (qui demande en revanche de la pratique pour le maitriser).<br /><br />
<a target="_BLANK" title="https://rollforfantasy.com/" href="https://rollforfantasy.com/"> Roll for Fantasy</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Et oui, il y a beaucoup de choses intéressantes en plus des générateurs sur ce site.<br /><br />
<a target="_BLANK" title="https://tabletopaudio.com/" href="https://tabletopaudio.com/"> Tabletop Audio</a> : <br />
<img src="View/images/flag-eng.png" title="Site en Anglais" width="15" height="15"> Ambiances et musique originales de 10 minutes pour vos parties.<br /><br />
<a target="_BLANK" title="http://scriiipt.com/2018/05/le-manuel-pratique-du-jeu-de-role-partage-par-pierre-rosenthal/" href="http://scriiipt.com/2018/05/le-manuel-pratique-du-jeu-de-role-partage-par-pierre-rosenthal/"> Le Manuel Pratique du Jeu de Rôle</a> : <br />
<img src="View/images/flag-fr.png" title="Site en Français" width="15" height="15"> Manuel pratique du jeu de rôle est une version scannée amateur du hors-série n°25 du magazine Casus Belli, daté de mai 1999, ancien, mais toujours intéressants.<br /><br />
</div>
</div>
