</div>
</section>
<nav id="left">
    <!-- -->
    <h3>Menu</h3>
    <ul>
        <li><a title="Ramène à l'Accueil" href="index.php?page=home&action=display">Accueil</a></li>
        <li><a title="Banque de lien menant à d'autres générateurs disponibles sur le web ou vers des liens jugés intéressants" href="index.php?page=lien&action=display">Liens externes</a></li>
        <li><a title="Permets de consulter le nombre de générations déjà effectuée jusqu'à aujourd'hui" href="index.php?page=stat&action=display">Statistiques</a></li>
    </ul>
    <!-- <h3>Contacts</h3>
    <center>
        <a href="http://www.facebook.com/pages/G%C3%A9n%C3%A9ration-jdr/255252711182616" target="_blank" onMouseOver="document.img_1.src='images/facebook.png';" onMouseOut="document.img_1.src='images/facebookbas.png';">
            <img class="img" name="img_1" src="images/facebookbas.png"></a>&nbsp;
        <a href="http://generation-jdr.fr/index.php?page=contact" onMouseOver="document.img_3.src='images/mail.png';" onMouseOut="document.img_3.src='images/mailbas.png';">
            <img class="img" name="img_3" src="images/mailbas.png"> </a>
    </center> -->
    <h3>Mondes Med-fan</h3>
    <ul>
        <li><a href="index.php?page=auberge">Auberges</a></li>
        <li><a href="index.php?page=aubergedetaillee">Auberges détailées</a></li>
        <!--<li><a href="index.php?page=gemme">Gemmes</a></li>  -->
        <!--<li><a href="index.php?page=encours">Lancer de dés <i>en cours</i></a></li> -->
        <li><a href="index.php?page=lieudit">Lieux-dits</a></li>
        <li><a href="index.php?page=nomevolue">Noms complets</a></li>
        <!--<li><a href="index.php?page=objart">Objets d'arts</a></li> -->
        <!--<li><a href="index.php?page=obm">Objets magiques</a></li> -->
        <!--<li><a href="index.php?page=objnm">Objets non magiques</a></li> -->
        <!--<li><a href="index.php?page=parchemin">Parchemins</a></li> -->
        <!--<li><a href="index.php?page=piege">Pièges</a></li> -->
        <li><a href="index.php?page=placeforte">Place forte</a></li>
        <!--<li><a href="index.php?page=potion">Potions</a></li> -->
        <li><a href="index.php?page=repas">Repas</a></li>
        <li><a href="index.php?page=scenar">Scénari minute</a></li>
        <!--<li><a href="index.php?page=tresor">Trésors complets</a></li>  -->
        <!--<li><a href="index.php?page=ville">Ville</a></li> -->
    </ul>

    <h3>Coeurs Vaillants</h3>
    <ul>
        <!-- <li><a href="index.php?page=cv/aventures">Aventures</a></li> -->
        <!-- <li><a href="index.php?page=cv/maladies">Maladies</a></li> -->
        <!-- <li><a href="index.php?page=cv/merveilles">Merveilles</a></li> -->
        <li><a href="index.php?page=cv/pieges">Pièges</a></li>
        <!-- <li><a href="index.php?page=cv/poisons">Poisons</a></li> -->
        <li><a href="index.php?page=cv/ruines">Ruines</a></li>
        <li><a href="index.php?page=cv/taberges">Taberges</a></li>
        <!-- <li><a href="index.php?page=cv/villages">Villages</a></li> -->
        <!-- <li><a href="index.php?page=cv/voyages">Voyages</a></li> -->


    </ul>

    <h3> Donjons et Dragons 3.5</h3>
    <ul>
        <li><a href="index.php?page=dd3/aubergedetail">Auberges détailées</a></li>
        <li><a href="index.php?page=dd3/gemme">Gemmes</a></li>
        <li><a href="index.php?page=dd3/objart">Objets d'arts</a></li>
        <li><a href="index.php?page=dd3/obm">Objets magiques</a></li>
        <li><a href="index.php?page=dd3/objnm">Objets non magiques</a></li>
        <li><a href="index.php?page=dd3/parchemin">Parchemins</a></li>
        <li><a href="index.php?page=dd3/piege">Pièges</a></li>
        <li><a href="index.php?page=dd3/potion">Potions</a></li>
        <li><a href="index.php?page=dd3/tresor">Trésors complets</a></li>
        <li><a href="index.php?page=dd3/ville">Ville</a></li>
    </ul>

    <h3>Mondes modernes</h3>
    <ul>
        <li><a href="index.php?page=nomsmodernes">Noms</a></li>
    </ul>

    <h3>Mondes Post-apo</h3>
    <ul>
        <li><a href="index.php?page=apocalypse">Apocalypse (béta)</a></li>
    </ul>

    </ul>




</nav>
